
.navbar__container {
    background: #121212;
}
.navbar--center{
    margin: auto;
}
.navbar__logo-wrapper {
    margin-right: 30px;
    width: auto;
}
.navbar {
    display: flex;
}
.navbar__search {
    flex-grow: 1;
}
.navbar__logo {
    width: 2em;
}

.navbar__links-wrapper {
    display: flex;
    margin-left: 10px;
}
.navbar__link {
    text-decoration: none;
    color: white;
    font-size: 1em;
    /* font-size: 20px; */
    margin-left: 20px;
    margin-top: 7px;
}
.navbar__link--simple {
    text-decoration: none;
}
.navbar__link:hover {
    color: yellow;
    border-bottom: 1px solid white;
}
.navbar__sign-buttons {
    margin: 0px 10px;
    display: flex;
    gap: 10px;
}
.drawer__sign {
    position: fixed;
    margin-top: auto;
    padding-bottom: 0;
    width: 100%;
    bottom: 0;
}
.drawer__sign--center {
    display: flex;
    justify-content: center;
}
.navbar__button--center {
    margin-right: auto;
}
.drawer__paper {
    padding: 10px
}

@media screen and (min-width: 600px) {
    .drawer {
        display: none;
    }
}
@media screen and (max-width: 599px) {
    .navbar__links-wrapper {
        display: none;
    }
    .drawer{
        display: inline;
    }
}

@media screen and (min-width: 1000px) {
    .navbar {
        width: 60%;
    }
}
@media screen and (max-width: 999px) {
    .navbar {
        width: 100%;
    }
}
/* @media screen and (max-) */

