/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/cta/cta.css ***!
  \******************************************************************************/

/*!**************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/feature/feature.css ***!
  \**************************************************************************************/

/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/navbar/navbar.css ***!
  \************************************************************************************/

/*!****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/containers/features/features.css ***!
  \****************************************************************************************/

/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/containers/footer/footer.css ***!
  \************************************************************************************/

/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/containers/header/header.css ***!
  \************************************************************************************/

/*!**********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/containers/possibility/possibility.css ***!
  \**********************************************************************************************/

/*!***************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/app.css ***!
  \***************************************************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--color-bg)
}
